// Top menu style
.top-menu {
  width: 100vw;
  height: 15vh;
  font-family: $roboto;
  @include flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-bottom: 2em;

  ul {
    @include size;
    @include flex;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
    padding: 0.5em;
    &:nth-child(2) {
      font-weight: bolder;

      & > i {
        color: $red;
      }
    }
    sup {
      font-weight: normal;
    }
  }
}

// User profile picture
.my-profile {
  width: 1.5rem;
  height: 1.5rem;
}
