// Top menu style
.top-menu {
  width: 100vw;
  height: 15vh;
  font-family: $roboto;
  @include flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-bottom: 2rem;

  ul {
    @include size;
    @include flex;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
    padding: 0.5em;
    &:nth-child(2) {
      font-weight: bolder;

      & > i {
        color: $red;
      }
    }
    sup {
      font-weight: normal;
    }
  }
}

// User profile picture
.my-profile {
  width: 1.5rem;
  height: 1.5rem;
}

.bars-menu {
  width: 2rem;
  height: 2rem;
  border: red 1px solid;
  @include flex;
  flex-direction: column;
}

.bars-top,
.bard-mid,
.bars-bot {
  width: 2rem;
  height: 0.2rem;
  background-color: black;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

// .bars-top,
// .bard-mid {
//   margin: 0.3rem 0 0.3rem 0;
// }
