// Top menu style
.top-menu {
  border: red dashed 1px;
  width: 100vw;
  height: 20vh;
  @include flex;
  justify-content: space-evenly;
  flex-flow: row wrap;

  ul {
    @include size;
    border: deepskyblue solid 1px;
    @include flex;
    justify-content: space-evenly;
  }

  li {
    border: olive dashed 1px;
    list-style: none;
    padding: 0.5em;
  }
}
// User profile picture
.my-profile {
  width: 1rem;
  height: 1rem;
}
