.video-area {
  width: 100vw;
  @include flex;
  flex-direction: column;

  p {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  img {
    width: 12rem;
    height: 8rem;
    border-radius: 1rem;
  }

  div {
    margin-bottom: 1rem;
  }
}

.top-videos,
.bottom-videos {
  @include flex;
  flex-direction: column;
}
