* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-menu {
  border: red dashed 1px;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.top-menu div ul {
  width: 33vw;
  height: 5vh;
  border: deepskyblue solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu div ul li {
  border: olive dashed 1px;
  list-style: none;
}

.my-profile {
  width: 2vw;
  height: 3vh;
}

.center-section {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.left-side-menu {
  border: red dashed 1px;
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-side-menu div ol {
  width: 100%;
  height: 100%;
}
.left-side-menu div ol ul {
  border: dimgrey solid 1px;
  width: 15vw;
  height: 5.4vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.left-side-menu div ol ul li {
  list-style: none;
}
.img-inner-left {
  width: 1vw;
  height: 2vh;
}

.bottom-section {
  width: 100%;
  height: 100%;
  border: deeppink 1px dashed;
  display: flex;
  flex-direction: column;
}
.header {
  border: dodgerblue 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-picture {
  width: 5vw;
  height: 7vh;
}

.top-videos div img,
.bottom-videos div img {
  width: 15vw;
  height: 15vh;
}
.video-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.top-videos,
.bottom-videos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
