* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top-menu {
  border: red dashed 1px;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.top-menu div ul {
  width: 33.3vw;
  height: 5vh;
  border: deepskyblue solid 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-menu div ul li {
  border: olive dashed 1px;
  list-style: none;
}

.my-profile {
  width: 2vw;
  height: 3vh;
}

.left-side-menu {
  border: red dashed 1px;
  width: 10vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-side-menu div ol {
  width: auto;
  height: fit-content;
}
.left-side-menu div ol ul {
  border: dimgrey solid 1px;
  width: 10vw;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
}

.left-side-menu div ol ul li {
  list-style: none;
}
.img-inner-left {
  width: 1vw;
  height: 2vh;
}

.center {
  border: springgreen dotted 1px;
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}
