.bottom-section {
  width: 68vw;
  @include flex;
  flex-direction: column;
  text-align: left;

  .header {
    width: 68vw;
    @include flex;
    flex-direction: column;
    margin: 0.5rem;

    nav ul {
      @include flex;
      justify-content: space-evenly;
      // flex-direction: column;
      margin: 0.5rem;

      li {
        margin: 1.3rem;
      }
    }
  }

  .top-header {
    width: 68vw;
    @include flex;
    justify-content: space-between;
    // flex-direction: column;
    margin: 0.5rem;

    div {
      width: 68vw;
      @include flex;
      flex-direction: column;
      margin: 0.5rem;
    }
  }
}

.profile-area {
  @include flex;
  justify-content: space-evenly;
  margin: 0.5rem;
}
.profile-picture {
  border-radius: 50%;
}
