.video-area {
  width: 64vw;
  @include flex;
  flex-direction: column;

  p {
    font-weight: bold;
    margin-bottom: 1rem;
  }

  img {
    width: 8rem;
    height: 5rem;
    border-radius: 1rem;
  }

  div {
    margin: 0.2rem;
  }
}

.top-videos,
.bottom-videos {
  @include flex;
  justify-content: center;
  align-items: flex-start;
}
