//Variables

// colors
// $my-color: orange;
// sizes

// others

// Size
$predef-size: 3rem;
// Fonts
$josefin: "Josefin Sans", sans-serif;
$roboto: "Roboto", sans-serif;
$yanone: "Yanone Kaffeesatz", sans-serif;
// Colors
$red: red;
