.bottom-section {
  width: 100vw;
  @include flex;
  flex-direction: column;
  text-align: left;

  .header {
    width: 100vw;
    @include flex;
    flex-direction: row-reverse;
    // flex-direction: column;
    margin: 2rem;

    nav ul {
      @include flex;
      flex-direction: column;
    }
  }

  .top-header {
    width: 100vw;
    @include flex;
    flex-direction: column;
    margin: 0rem;

    div {
      width: 100vw;
      @include flex;
      flex-direction: column;
      margin: 1rem;
    }
  }
}

.profile-area {
  @include flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.profile-picture {
  border-radius: 50%;
}
