.bottom-section {
  width: 100vw;
  @include flex;
  flex-direction: column;
  text-align: left;

  .header {
    width: 100vw;
    @include flex;
    flex-direction: column;
    // flex-direction: column;
    margin: 2rem;
    border-radius: 5px;
    color: $alice;
    background: url(../././images/img/pretty-scaled.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    nav ul {
      @include flex;
      flex-direction: column;
      margin: 1rem;

      & :nth-child(2) {
        border-bottom: $alice 1px solid;
      }
    }
  }

  .top-header {
    width: 100vw;
    @include flex;
    flex-direction: column;
    margin: 0rem;

    div {
      width: 100vw;
      @include flex;
      flex-direction: column;
      margin: 1rem;
    }
  }
}

.profile-area {
  @include flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.profile-picture {
  border-radius: 50%;
}

.fa-youtube {
  color: $red;
}

.fa-facebook-square,
.fa-twitter {
  color: $blue;
}

.fa-instagram {
  padding: 1.5px;
  color: $alice;
  background: linear-gradient(to right, $orange, $violet);
  border-radius: 2px;
}

.fa-spotify {
  color: $ygreen;
  background-color: $black;
  border-radius: 100%;
}
