* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

img {
  width: 5rem;
  height: 5rem;
}

@media (max-width: 480px) {
  .top-menu {
    width: 100vw;
    height: 15vh;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-bottom: 2rem;
  }
  .top-menu ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
  }
  .top-menu li {
    list-style: none;
    padding: 0.5em;
  }
  .top-menu li:nth-child(2) {
    font-weight: bolder;
  }
  .top-menu li:nth-child(2) > i {
    color: red;
  }
  .top-menu li sup {
    font-weight: normal;
  }

  .my-profile {
    width: 1.5rem;
    height: 1.5rem;
  }

  .bars-menu {
    width: 1.4rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .bars-top,
.bars-mid,
.bars-bottom {
    width: 1.4rem;
    height: 0.2rem;
    background-color: black;
    border-radius: 10px;
  }

  .bars-top,
.bars-mid {
    margin-bottom: 0.2rem;
  }

  .center-section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .center-section ul {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .center-section li {
    list-style: none;
    text-align: left;
  }
  .center-section .img-inner-left {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .center-section h3 {
    margin-bottom: 2rem;
  }

  .left-side-menu div {
    margin-bottom: 2rem;
  }

  .bottom-section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }
  .bottom-section .header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .bottom-section .header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .bottom-section .top-header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .bottom-section .top-header div {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .profile-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .profile-picture {
    border-radius: 50%;
  }

  .video-area {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .video-area p {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .video-area img {
    width: 12rem;
    height: 8rem;
  }
  .video-area div {
    margin-bottom: 1rem;
  }

  .top-videos,
.bottom-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media only screen and (min-width: 1281px) {
  .top-menu {
    border: red dashed 1px;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .top-menu div ul {
    width: 33vw;
    height: 5vh;
    border: deepskyblue solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-menu div ul li {
    border: olive dashed 1px;
    list-style: none;
  }

  .my-profile {
    width: 2vw;
    height: 3vh;
  }

  .center-section {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

  .left-side-menu {
    border: red dashed 1px;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .left-side-menu div ol {
    width: 100%;
    height: 100%;
  }

  .left-side-menu div ol ul {
    border: dimgrey solid 1px;
    width: 15vw;
    height: 5.4vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  .left-side-menu div ol ul li {
    list-style: none;
  }

  .img-inner-left {
    width: 1vw;
    height: 2vh;
  }

  .bottom-section {
    width: 100%;
    height: 100%;
    border: deeppink 1px dashed;
    display: flex;
    flex-direction: column;
  }

  .header {
    border: dodgerblue 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profile-picture {
    width: 5vw;
    height: 7vh;
  }

  .top-videos div img,
.bottom-videos div img {
    width: 15vw;
    height: 15vh;
  }

  .video-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .top-videos,
.bottom-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

/*# sourceMappingURL=main.css.map */
